* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #020617;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  height: 80px;
}

.links {
  display: flex;
  align-items: center;
  gap: 60px;
}

.link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #cbd5e1;
  letter-spacing: 0.5px;
  transition: color 0.3s ease;
}

.link:hover {
  color: #00c6ff;
}

.btn{
  background: linear-gradient(90deg, #00c6ff, #7b2ff7);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 22px;
  cursor: pointer;
  font-weight: 600;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.btn:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.principal{
  background: linear-gradient(
  135deg,
  #020617,
  #020c1b,
  #0a0f2c
);
  height: 600px;
   display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
  margin-left: 50px;
}

.tag {
  display: inline-block;
  padding: 8px 18px;
  border: 1px solid #008cff;
  border-radius: 999px;

  color: #00c6ff;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;

  background: rgba(0, 140, 255, 0.08);
  box-shadow: 0 0 12px rgba(0, 140, 255, 0.35);
}

.titulo {
  font-size: 64px;
  font-weight: 700;
  color: #e5e7eb; 
}

.gradient {
  background: linear-gradient(90deg, #00c6ff 0%, #5f5cff 50%, #7b2ff7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitulo {
  font-size: 28px;
  font-weight: 600;
  color: #e5e7eb; 
  margin-bottom: 15px;
}

.descricao {
  font-size: 16px;
  color: #94a3b8; 
  line-height: 1.6;
  max-width: 500px;
}

.img-principal{
  float: right;
}

.mais{
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 22px;
  cursor: pointer;
  font-weight: 600;
  transition: transform 0.3s ease, opacity 0.3s ease;
  border: 1px solid transparent;
  border-radius: 8px;
  background:
    linear-gradient(#020617, #020617) padding-box,
    linear-gradient(90deg, #00c6ff, #7b2ff7) border-box;
  margin-top: 30px;
}

hr {
  border: none;
  height: 0.8px;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 198, 255, 0.3),
    rgba(123, 47, 247, 0.3)
  );
  border-radius: 10px;
  margin: 10px auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ia{
  color: white;
  text-align:  center;
  padding: 20px;
}

.sobre-ia{
  border-radius: 999px;
  color: #00c6ff;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 14px;
  margin-bottom: 14px;
}

.p-ia {
  font-size: 15px;
  margin-top: 10px;
  line-height: 1.6;
  max-width: 70ch;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  color: #9ca3af;
}

.conteudos-ia {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  display: flex; 
  align-items: center;
  gap: 15px;

  background: #020617;
  border: 1px solid #1e293b;
  border-radius: 12px;
  padding: 20px 30px;
  width: 400px;

  color: #cbd5e1;
  transition: 0.3s; 
  background: linear-gradient(
  180deg,
  #020617 0%,
  #020a1f 40%,
  #00051d 100%
);
}

.box img {
  width: 120px;
  margin-top: 15px;
}

.box h1 {
  font-size: 20px;
  color: white;
  margin-bottom: 5px;
}

.box p {
  font-size: 13px;
  line-height: 1.5;
  color: #9ca3af;
}

.box:hover {
  transform: translateY(-5px);
  border: 1px solid #00c6ff;
  box-shadow: 0 0 20px rgba(0, 198, 255, 0.2);
}

.aplicacoes-ia{
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
}

.aplicacoes-box img{
  width: 130px;
  margin-top: 30px;

}

.aplicacoes-box h1{
  font-size: 20px;
  color: white;
  margin-top: 5px;
}

.aplicacoes-box p{
  font-size: 13px;
  line-height: 1.5;
  color: #9ca3af;
  margin-top: 5px;
}

.aplicacoes-box:hover{
  transform: translateY(-5px);
  border: 1px solid #00c6ff;
  box-shadow: 0 0 20px rgba(0, 198, 255, 0.2);
}

.aplicacoes-box{
  display: flex; 
  flex-direction: column; 
  align-items: center;    
  text-align: center;    
  margin-top: 25px;

  gap: 15px;

  background: #020617;
  border: 1px solid #1e293b;
  border-radius: 12px;
  padding: 10px 10px;
  width: 290px;
  height: 350px;

  color: #cbd5e1;
  transition: 0.3s;

  background: linear-gradient(
    180deg,
    #020617 0%,
    #020a1f 40%,
    #00051d 100%
  );
}

.beneficios-box img{
  width: 100px; 
}

.beneficios-box h1{
  font-size: 15px;
  color: white;
  margin-top: 5px;
}

.beneficios-box p{
  font-size: 13px;
  line-height: 2.0;
  color: #9ca3af;
  margin-top: 5px;
}

.beneficios-ia{
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
}

.beneficios-box {
  display: flex;
  align-items: center;
  gap: 15px;

  background: #020617;
  padding: 20px 30px;
  width: 400px;
  height: 250px;

  color: #cbd5e1;
}
.texto {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.linha {
  margin-top: 60px;
  width: 0.5px;
  height: 150px;
  background: linear-gradient(#00c6ff, #7b2ff7);
  border-radius: 10px;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.Banner-future {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 50px 50px;
  background: linear-gradient(
  90deg,
  #010314 0%,
  #020a2e 30%,
  #0b2a6b 70%,
  #3b82f6 100%
);

  border-radius: 18px;
  color: white;
  width: 90%;
  height: 40vh;
  border: 1px solid blue;
    
}

.Banner-texto {
  max-width: 600px;
}

.Banner-texto h1 {
  font-size: 35px;
  line-height: 1.1;
  margin-bottom: 20px;
}

.Banner-texto p {
  font-size: 15px;
  color: #cbd5e1;
  line-height: 1.5;
  margin-bottom: 30px;
}

.btn-ia{
  display: inline-flex;
  align-items: center;
  gap: 10px;

  background: linear-gradient(90deg, #00c6ff, #7b2ff7);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 14px 28px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.btn-ia:hover {
  transform: translateY(-2px); 
  box-shadow: 0 10px 25px rgba(123, 47, 247, 0.4); 
}

.Banner-img {
  width: 500px;
  max-width: 45%;
  margin-top: 30px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 60px;
  background: #020617;
  color: white;
}

.copyright {
  flex: 1;               
  text-align: center;    
  font-size: 16px;
  color: #cbd5e1;
  margin: 0;
}

.footer-right {
  display: flex;
  gap: 20px;
}

.footer-right img {
  width: 24px;
}